.header {
    background-color: rgb(20, 114, 78);
    height: 100px;
    width: 1265px;
}
.header-logo {
    font-size: 50px;
    padding: 14px 40px;
    color:rgb(255, 255, 255)
}
.section-title {
    font-size: 40px;
    width: 680px;
    height: 50px;
    border-color: black 3px;
    
}
.contents-item a {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
h1 span {
    color: darkorange;
}
.contents-item img {
    width: 300px;
    height: 250px;
}
.cotton img {
    width: 550px;
    height: 350px;
}
h2 {
    font-family: serif;
}
h2 span {
    color: red;
    font-family: serif;
}
h3 {
    font-size: 24px;
    font-family: serif;
}
h3 span {
    color: red;
}
h4 {
    font-size: 24px;
    font-family: serif;
}
h4 span {
    color: red;
}
h5 {
    font-size: 24px;
    font-family: serif;
}
h5 span {
    color: red;
}
.footer {
    background-color: rgba(44, 196, 163, 0.884);
    height: 50px;
    width: 1260px;
}
h6 {
    font-size: 15px;
    padding: 15px 0px 0px 500px;
}
